* {
  margin: 0;
  font-family: "Bluu Next";
}

body {
  background-color: rgb(39, 52, 52);
  background-image: url("./assets/maxresdefault.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}